<html>
<head>
    <meta charset="utf-8">
    <title>{{ blog_title }}</title>
    <link rel="stylesheet" href="static/css/mp.css?v=1" />
    <link rel="stylesheet" href="static/css/bootstrap.min.css?v=1" />
</head>
<body>
    <div class="container">
        <div class="blog-header">
            <h1>{{ blog_title }}</h1>
            <ul class="flex">
                {% for title, url in pagelinks: %}
                <li><a href="{{ url }}" target="_blank"><h3>{{ title }}</h3></a></li>
                {% endfor %}
            </ul>
        </div>

        <div>
            {% for title, url in postlinks: %}
            <div>
                <h4 >
                    <a href="{{ url }}" target="_blank">{{ title }}</a>
                </h4>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>